<% include ./partials/header %>


  <div id="card" class="row center">
    <div class="col s6 offset-s3">
      <!-- CARD WITH IMAGE -->
      <div class="card">
        <div class="card-image">
          <img src="<%= blog.image %>">
          <span class="card-title">
            <%= blog.title %>
          </span>
        </div>
        <div class="card-content">
          <span class="left">
            <%= blog.created.toDateString() %>
          </span>
          <br>
          <br>
          <p>
            <%- blog.body %>
          </p>
          <div class="right">
            <a class="btn white blue-text waves-effect waves-blue" href="/blogs/<%=blog._id%>/edit">Edit</a>
            <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
              <button class="btn white red-text waves-effect waves-red">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <% include ./partials/footer %>